.add-button {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 150px;
  height: 50px;
  padding: 0;
  background-color: black;
  border: 2px solid #fff;
  border-radius: 2px;
}

.add-button::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 20px;
  height: 2px;
  margin: 0 auto;
  background-color: white;
}

.add-button::before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2px;
  height: 20px;
  margin: 0 auto;
  background-color: white;
}

@media (max-width: 895px) {
  .add-button {
    max-width: 282px;
  }
}
